.v-stripe-card
  .v-label
    transform: translateY(-18px) scale(0.75)
  .VStripeCard
    flex: 1 1 auto
    line-height: 20px
    padding: 8px 0 8px
    max-width: 100%
    min-width: 0px
    width: calc(100% - 30px)
    max-height: 32px
  &.v-text-field--outlined
    .v-label
      transform: translateY(-14px) scale(0.75)
      &.v-label--active
        transform: translateY(-24px) scale(0.75)
  &.v-text-field--solo
    .v-label
      display: none
  &.v-text-field--filled
    .VStripeCard
      margin-top: 22px
    .v-label
      transform: translateY(-6px) scale(0.75)
  &.v-text-field--single-line
    .v-label
      display: none